// BASE COLORS


// BACKGROUND-COLOR
$primary-bg: #253141;
$secondary-bg: #385283;
$blue-bg: #468cef;
$light-grey-bg: #f2f1f1;
$dark-grey-bg: #253141;

// TEXT COLOR
$text-dark: #253141;
$text-light: #ffffff;
$text-grey: #d4d4d4;

// COMPONENTS COLOR
$green-blue: #3bcdca;