@import "./vendors/bootstrap-5.1.3/scss/bootstrap.scss";
@import "./abstracts/variables";
@import "./components/buttons";
@import "./core/resets";
@import "./layout/navbar";
// @import "./abstracts/fonts";
@import "./layout/hero-banner";
@import "./layout/about-us";

$carousel-control-width: 5% !important;

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.custom-container {
    // @extend .container-fluid;
    margin: 0;
    // height: 85vh;
}