.navbar-blue {
    background-color: $primary-bg;
    // padding: 0 5rem;
    
    .navbar-brand {
        margin-left: 1.5rem;
        // &:hover,
        // &:focus {
        //     color: $navbar-dark-brand-hover-color;
        // }
    }
  
    .navbar-nav {
        padding: 1.7rem 1.5rem;
        .nav-link {
        color: $text-light;
  
        &:hover,
        &:focus {
          color: $text-grey;
        }
      }
  
    }
  
    .navbar-toggler-icon {
	    background-image: escape-svg($navbar-dark-toggler-icon-bg);
    }

    // a {
        
    // }
    
    .nav-item {
        padding-left: 1.6rem;
        font-family: Tanha;
		font-size: larger;
    }
}