.base-btn {
    transition: 0.4s;
    padding: 0 1.5rem;
    
    margin-left: 0.5rem;
    font-family: Tanha;
    font-size: larger;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: none;
    border: 2px solid $green-blue;
    border-radius: 10px;
    
    color: $text-light;
    
    background: none;
}

.fill-btn {
    @extend .base-btn;
    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em $green-blue;
        border-color: $green-blue;
        color: #000;
    }
}

.width-sm-disapear {
    display: none;
}

.offset {
    color: $secondary-bg;
    transition: 0.25s;

    // font-family: Sahel;
    
    &:hover,
    &:focus { 
        border-color: $green-blue;
        color: #fff;
    }

    background: none;
    border: none;
    font: inherit;
    line-height: 1;
    // margin: ;
    padding: 0.5em 1em;

    box-shadow: 
      0.3em 0.3em 0 0 $blue-bg,
      inset 0.3em 0.3em 0 0 $blue-bg;
    
    &:hover,
    &:focus {
        color: $text-dark;
      box-shadow: 
        0 0 0 0 $green-blue,
        inset 6em 3.5em 0 0 $green-blue;
    }
}

.offset-green-blue {
    color: $text-light;
    transition: 0.25s;

    // font-family: Sahel;
    
    &:hover,
    &:focus { 
        border-color: $blue-bg;
        color: #253141;
        box-shadow: 
            0 0 0 0 $bg-blue,
            inset 6em 3.5em 0 0 $bg-blue;
    }

    background: none;
    border: none;
    font: inherit;
    line-height: 1;
    // margin: ;
    padding: 0.5em 1em;

    box-shadow: 
      0.3em 0.3em 0 0 $bg-blue,
      inset 0.3em 0.3em 0 0 $bg-blue;
}

// .offset-btn {
//     // @extend .base-btn;

//     background: none;
//     border: 8px solid;
//     font: inherit;
//     line-height: 1;
//     margin: 0.5em;
//     padding: 1em 2em;

//     color: $green-blue;
//     transition: 0.25s;
    
//     &:hover,
//     &:focus { 
//         border-color: $green-blue;
//         color: #fff;

//     color: black;
//     box-shadow: 
//         0.3em 0.3em 0 0 $green-blue,
//         inset 0.3em 0.3em 0 0 $green-blue;


//     &:hover,
//     &:focus {
//         box-shadow:
//             0 0 0 0 $green-blue,
//             inset 6em 3.5em 0 0 $green-blue;
//         border-color: $green-blue;
//         color: #000;
//     }
//     }
// }

.simple-btn {
    border: none;
    display: inline-block;
    background: none;
}